@model ReversiMvcApp.Models.Spel
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment env;


@{
    ViewData["Title"] = "Details";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    string userId = ViewData["UserID"].ToString();
}

@section Scripts {
    <!-- Swiper-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- ChartJs-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js "></script>

    <!-- Custom Scripts-->
    <script type="text/javascript" src="~/js/app.js"></script>
    <script type="text/javascript" src="~/js/vendor.js"></script>
    <script type="text/javascript" src="~/js/templates.js"></script>

    <link rel="stylesheet" type="text/css" href="~/css/style.min.css">
}

<h2>U bent de kleur: @Model.Spelers.FirstOrDefault(s => s.Id == userId).Kleur</h2>
<button class="btn btn-primary">geef op</button>


<div id="everything">
    <aside id="swiper-container" class="swiper"></aside>
    <div id="main-content"></div>
    <aside id="charts-container"></aside>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        Game.init("production", "@userId", "@Model.ID");
    });
</script>

    


    

