.popup {
    margin:auto;
    width: 90%;
    height: auto;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
    overflow:hidden;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    animation-name: kf__popup--fadein;
    animation-duration: 500ms; 
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}

.popup--state-closing {
    animation-name: kf__popup--fadeout;
    animation-duration: 500ms; 
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes kf__popup--fadein {
    from {
        margin-bottom: 0px;
        height: 0px;
        opacity: 0;
    }
    to {
        margin-bottom: 10px;
        height: auto;
        opacity: 1;
    }
}

@keyframes kf__popup--fadeout {
    from {
        margin-bottom: 10px;
        height: auto;
        opacity: 1;
    }
    to {
        margin-bottom: 0px;
        height: 0px;
        opacity: 0;
    }
}

.popup--state-success {
    background-color: #04AA6D;
}

.popup--state-warning {
    background-color: #f44336;
    padding-bottom: 30px;
}

.popup__header {
    display: flex; 
    height: 34px; 
    width: 100%;
    align-items: center;
    justify-content: flex-end;
}

.popup__button--close {
    border: none;
    background-color: transparent;
    width: 26px;
    height: 26px;
    font-size: larger;
    font-weight: 500;
    color: white;
    padding-right: 8px;
}

.popup__button--close:hover {
    color: black;
    transition: 0.25s;
}

.popup__main {
    display: flex;
    min-width: 250px; 
    width: 100%; 
    word-break: break-all; 
    overflow: hidden;
    line-height: 100px;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
}

.popup__main span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left: 20px;
    font-size: large;
    font-weight: 500;
    overflow: hidden;
}

.popup__main img {
    margin-left: 20px;
    max-height: 50px;
    height: 100%;
    width: auto;
    filter: invert(1);
}

@media only screen and (max-width: 600px) {
    .popup {
        font-size: 8px !important;
    }

    .popup__header {
        height: 20px;
    }
    .popup--state-warning {
        padding-bottom: 20px;
    }

    .popup__button--close {
        font-size: 8px;
        width: 16px;
        height: 16px;
    }
    .popup__main {
        justify-content: center;
    }
    .popup__main span {
        margin: 0px;
        font-size: 8px;
    }

    .popup__main img {
        display: none;
    }

    .popup__footer {
        flex-direction: column;
    }
    .popup__footer input[type="button"] {
        height: 16px !important;
        font-size: 8px;
    }
}

.popup__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
}

.popup__footer input[type="button"] {
    vertical-align: middle;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    font-weight: 500;
    
    font-family: Arial, Helvetica, sans-serif;
}

.popup__footer input[type="button"]:hover {
    color:black;
    transition: 0.25s;
}

/* JUMP */
.popup__footer input[type="button"].is-active {
  animation-name: kf__button--jump;
  animation-duration: 4s;
  animation-delay: 2.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-direction: normal;

  /* improves blurry effect */
  transform: translateZ(0);
  backface-visibility: hidden;
}

@keyframes kf__button--jump {
  0% {
    transform: scale(1);
    /* box-shadow: 0 1px 2px rgba(0,0,0,.15); */
  }
  40% {
    transform: scale(1);  
  }
  45% {
    transform: scale(1.05);
    /* box-shadow: 0 4px 20px rgba(0,0,0,.1); */
  }
  50% {
    transform: scale(1);
    /* box-shadow: 0 1px 2px rgba(0,0,0,.15); */
  }
  55% {
    transform: scale(1.05);
  }
  60% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    /* box-shadow: 0 1px 2px rgba(0,0,0,.15); */
  }
}
